html, body {
  margin: 0px;
}

.comment-button {
  width: 100px;
}

.comment-box{
  margin-bottom: 5px;
}

.trip-list {
  padding-left: 0px;
}

.event-details td,
.comments td {
  padding: 0.1em 0.75em;
}

.trip-list > a > li {
  padding-left: 1em;
  border-radius: 5px;
  border: solid 3px black;
  display: block;
  margin-bottom: 10px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.trip-list > a {
  text-decoration: none;
}
