<div id='menu'>
  {{#link-to 'index'}}index{{/link-to}}
  {{#if session.isAuthenticated}}
    {{#link-to 'secret'}}see secret{{/link-to}}
    <button id='logout' {{ action 'invalidateSession' }}>Logout</button>
  {{else}}
    {{#link-to 'secret'}}try secret{{/link-to}}
    {{#link-to 'login'}}Login{{/link-to}}
    {{#link-to 'signup'}}Signup{{/link-to}}
  {{/if}}
</div>
{{outlet}}
