<form {{action 'authenticate' on='submit'}}>
  <label for="email">Email</label>
  {{input id="email" value=email placeholder='Enter email'}}
  <label for="password">Password</label>
  {{input id="password" value=password placeholder='Enter Password' type='password'}}
  <button id="submit" type="submit">Login</button>
</form>
{{#if errorMessage}}
Error: {{errorMessage}}
{{/if}}