<p>{{#link-to 'trips'}}Back to all trips{{/link-to}}</p>
<strong id='destination'>{{model.destination}}</strong><br/>
Starting Date: {{model.startDate}}<br/>
Ending Date: {{model.endDate}}<br/>
Comment: {{model.comment}}<br/>